*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}

#login-area{
    padding: 50px 10px;
    
}

.title{
    text-align: center;
}

.submit-area{
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 40px;
}

#transaction-area{
    margin-top: 50px;
    display: none;
}

.deposite{
    background-color: #6A5ACD;
}

.withdrow{
    background-color: #FFA07A;
}

.balance{
    background-color: #FFA500;
}

.status{
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.transactionvalue-area{
    margin-top: 70px;
    
}